body {
    background-image: url(bg/bg.png);
    background-clip: content-box;
    background-repeat: inherit;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}
:root{
    --dana: "dana";
}
* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 80%;
    height: 82%;
    padding: 50px;
    padding-top: 0px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
}
.container::-webkit-scrollbar {
    width: 0px;
}
.container::before {
    position: fixed;
    content: "";
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    background: rgba(0, 0, 0, 0.294);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    z-index: -1;
}

.side-menu{
    margin: 50px;
    margin-top: 170px;
    background-image: url(bg/baner.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.294);
    background-size: 100% 200px;
    width: 25%;
    border-radius: 1.4rem;
    backdrop-filter: blur(10px);
    color: white;
    font-family: var(--dana);
    font-weight: 100;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 70px;
}
.my-photo {
    width: 130px;
    height: 130px;
    background-size: 100%;
    border-radius: 50%;
    background: linear-gradient(135deg, #934DD0, #4645D3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.side{
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.profile {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me{
    margin: 0px 0 70px 0;
    font-weight: 400;
}
.icon{
    width: 30px;
    filter: invert(100%);
    margin: 0%;
    margin-top: 10px;
}
.social-media{
    width: 70%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-menu div{
    margin: 10px 0;
}
.contact{
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.phone , .email{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.phone span , .email span{
    display: flex;
    flex-direction: row;
    font-weight: 200;
}
.phone span svg , .email span svg{
    padding-left: 5px;
    position: relative;
    bottom: 4px;
}
.name span{
    position: relative;
    bottom: 5px;
    font-weight: 200;
    opacity: 0.6;
}
.name h2{
    font-weight: 600;
}








.main{
    width: 100%;
    display: flex;
    justify-content: left;
}

nav{
    direction: ltr;
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #242426;
    height: 50px;
    border-radius: 50px;
    color: #7e7c81;
    font-size: large;
    font-family: var(--dana);
}
nav .navbar div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
nav .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-primary{
    color: white;
    border-radius: 50px;
    background-color: #4645D3;
}
.btn-ghost:hover{
    background-color: #525253;
    border-radius: 50px;
}
.btn-ghost:hover .btn-primary{
    background-color: #3d3d9f;
}






.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 95%;
    display: flex;
}
.p-3{
    width: 20%;
    height: 250px;
    padding: 3px;
    background-color: #121119;
    border-radius: 1rem;
    z-index: -1;
    margin: 10px;
}
.content{
    background-image: url(icon/HTML5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60%;
    margin-top: 20px;
}